~*
._*
.DS_Store
*.py[co]
*.sw[po]

\.dir-locals.el
\.#*
\#*#

bin
parts
develop-eggs
eggs/*
*.egg-info
.*.cfg
.ropeproject
.coverage
pathfix.py

*.sublime-project
*.sublime-workspace
.idea
.directory
*.nja

env
env-p

media/*
project/_settings.py

# Whoosh
