{% extends 'base.html' %}
{% block css %}
<style type="text/css">
.\35 grid-layout {
    width: 900px;
    margin: 0 auto;
  }
</style>
{% endblock %}
{% block content %}
    {% include 'website/header.html' %}
<!-- Content -->
      <div id="content-wrapper">
        <div id="content">
          <div class="5grid-layout">
            <div class="row">
              <div class="12u-first">
                <!-- Main Content -->
                  <section>
                    <header>
                      <h2>{{ flatpage.title }}</h2>
                      <!--h3>A generic one column layout</h3-->
                    </header>
                    <p>
                      {{ flatpage.content|safe }}
                    </p>
                  </section>

              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}