{% extends 'base.html' %}
{% block metadata %}
  <meta name="description" content="contactar a jesus lara Flores" />
  <meta name="keywords" content="contactar a jesus lara, jesus lara flores, jesús lara, contacto jesus lara, lara flores contacto" />
{% endblock %}
{% load thumbnail %}
{% block content %}
    {% include 'website/header.html' %}
    <!-- Content -->
      <div id="content-wrapper">
        <div id="content">
          <div class="5grid-layout">
            <div class="row">
              <div class="12u-first">
                <!-- Main Content -->
                  <section>
                    <header>
                      <h2>Contactame</h2>
                      <!--h3>Another generic two column layout</h3-->
                    </header>
                    <form action="." method="post">
                    {% csrf_token %}
                    <ul>
                    <li><label>Apellidos y Nombres</label></li>
                    <li>{{ form.person }}{{ form.person.errors }}</li>
                    <li><label>E-Mail</label></li>
                    <li>{{ form.email }}{{ form.email.errors }}</li>
                    <li><label>Asunto</label></li>
                    <li>{{ form.subject }}{{ form.subject.errors }}</li>
                    <li><label>Mensaje</label></li>
                    <li>{{ form.message }}</li>
                    </ul>
                    <button type="submit">Enviar</button>
                    </form>
                  </section>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}