    <!-- Header -->
      <div id="header-wrapper">
        <header id="header" class="5grid-layout">
          <div class="row">
            <div class="12u">
              <!-- Logo -->
                 <img src="{{ STATIC_URL }}images/jesuslara2.png" style="position:absolute; top:-120px; left:-70px;">
              <!-- Nav -->
                <nav class="mobileUI-site-nav">
                  <a href="{% url portafolio_index %}">Inicio</a>
                  <a href="{% url portafolio_albumes %}">Portafolio</a>
                  <a href="{% url portafolio_biografia %}">Biografía</a>
                  {% comment %}<a href="{% url portafolio_actualidad %}">Actualidad</a> {% endcomment %}
                  <a href="{% url portafolio_contacto %}">Contacto</a>
                </nav>
            </div>
          </div>
        </header>
        {% if banner %}
        {% include 'widgets/banner.html' %}
        {% endif %}
      </div>