        {% load thumbnail %}
        <div id="banner">
          <div class="5grid-layout">
            <div class="row">
            <div class="8u">
                <div id="largephoto">
                {% with album=object_list.0 %}
                <div id="loader"></div>
                <div id="largecaption">
                  <div class="captionShine"></div>
                  <div class="captionContent"></div>
                </div>
                <a id="slug_url" href="{% url portafolio_album album.slug %}"><div id="largetrans"></div></a>
                {% endwith %}
                </div>
            </div>
            <div class="4u">
                <div class="thumbnails">
                {% for album in object_list %}
                {% if forloop.counter >= 1 %}
                  <div class="thumbnailimage">
                  <div class="thumb_container"> 
                  <div class="large_thumb"> 
                    <img src="{{ album.get_cover_photo.photo|thumbnail_url:'thumb' }}" class="large_thumb_image" alt="thumb" /> 
                    <img src="{{ album.get_cover_photo.photo|thumbnail_url:'photo' }}" class="large_image" rel="{{ album.name }}" alter-url="{% url portafolio_album album.slug %}"/>
                    <div class="large_thumb_border"></div>
                    <div class="large_thumb_shine"></div>
                  </div>
                  </div>
                  </div>
                {% endif %}
                {% endfor %}
                </div>
            </div>
            </div>
          </div>
        </div>