{% extends 'base.html' %}
{% load thumbnail %}
{% block css %}
<style type="text/css">
.pagination{
  float: right;
  position: relative;
}
</style>
{% endblock %}
{% block metadata %}
  <meta name="description" content="portafolio de jesus lara, jesus lara, jesús lara, fotografía peruana," />
  <meta name="keywords" content="portafolio, jesús lara, jesus lara, fotografía, fotografia, fotografia peruana, fotografo peruano," />
{% endblock %}
{% block content %}
    {% include 'website/header.html' %}
    <!-- Content -->
      <div id="content-wrapper">
        <div id="content">
          <div class="5grid-layout">
            <div class="row">
              <div class="12u-first">
                {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
            {% if category %}
                {% if page_obj.has_previous %}
                    <a href="{% url portafolio_albumes_category_page category page_obj.previous_page_number %}">Anterior</a>
                {% endif %}
                <span class="page-current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url portafolio_albumes_category_page category page_obj.next_page_number %}">Siguiente</a>
                {% endif %}
            {% elif taggs %}
                {% if page_obj.has_previous %}
                    <a href="{% url portafolio_albumes-tags-page taggs page_obj.previous_page_number %}">Anterior</a>
                {% endif %}
                <span class="page-current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url portafolio_albumes-tags-page taggs page_obj.next_page_number %}">Siguiente</a>
                {% endif %}
            {% else %}
                {% if page_obj.has_previous %}
                    <a href="{% url portafolio_albumes_page page_obj.previous_page_number %}">Anterior</a>
                {% endif %}
                <span class="page-current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url portafolio_albumes_page page_obj.next_page_number %}">Siguiente</a>
                {% endif %}
            {% endif %}
            </span>
        </div>
    {% endif %}
                {% for album in page_obj %}
                <!-- Main Content -->
                  <section>
                    <header>
                      <h2>{{ album.name|title }}</h2>
                      <!--h3>Another generic two column layout</h3-->
                    </header>
                    <div>
                      <img class="porta_imagen" src="{{ album.get_cover_photo.photo|thumbnail_url:'banner' }}" alt="{{ album.name }}"/>
                      {{ album.description|safe }}
                    </div>
                    <div><p><a href="{% url portafolio_album album.slug %}">Ver album</a></p></div>
                  </section>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}