{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
    {% include 'website/header.html' %}
    <!-- Content -->
      <div id="content-wrapper">
        <div id="content">
          <div class="5grid-layout">
            <div class="row">
              <div class="12u-first">
                {% for album in object_list %}
                <!-- Main Content -->
                  <section>
                    <header>
                      <h2>{{ album.name|title }}</h2>
                      <!--h3>Another generic two column layout</h3-->
                    </header>
                    <div>
                      <img class="porta_imagen" src="{{ album.get_cover_photo.photo|thumbnail_url:'banner' }}" alt="{{ album.name }}"/>
                      {{ album.description|safe }}
                    </div>
                    <div><p><a href="{% url portafolio_album album.slug %}">Ver album</a></p></div>
                  </section>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}