{% extends 'base.html' %}
{% block contenido %}
		<!-- Content -->
			<div id="content-wrapper">
				<div id="content">
					<div class="5grid">
						<div class="12u-first">
						
							<!-- Main Content -->
								<section>
									{% if pagina %}
									<header>
										<h2>{{ pagina.titulo }}</h2>
										<h3>{{ pagina.descripcion }}</h3>
									</header>
									{{ pagina.contenido|safe }}
									{% else %}
									<header>
										<h2>Ups no se ha encontrado la biografia</h2>
										<h3>{{ pagina.descripcion }}</h3>
										<p> Consulte con Jesús Lara.</p>
									</header>
									{% endif %}
								</section>

						</div>
					</div>
				</div>
			</div></div>
{% endblock %}