{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}shinetime/gallery.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}shinetime/js/cufon-yui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}shinetime/fonts/aura_400.font.js"></script>
{% endblock %}
{% block js %}
<script type="text/javascript">
  $(document).ready(function()
  {
   
	 /*Your ShineTime Welcome Image*/
	 var default_image = '{{ MEDIA_URL }}large/default.jpg';
	 var default_caption = 'Welcome to ShineTime';
	 
	 /*Load The Default Image*/
	 loadPhoto(default_image, default_caption);
	 
	 
	 function loadPhoto($url, $caption)
	 {
	 
	 
	    /*Image pre-loader*/
	    showPreloader();
	    var img = new Image();
	    jQuery(img).load( function() 
		{
			jQuery(img).hide();
			hidePreloader();
		
        }).attr({ "src": $url });
	
	    $('#largephoto').css('background-image','url("' + $url + '")');
		$('#largephoto').data('caption', $caption);
	 }

	 
	 /* When a thumbnail is clicked*/
	 $('.thumb_container').click(function()
	 {
	     
		  var handler = $(this).find('.large_image');
		  var newsrc  = handler.attr('src');
		  var newcaption  = handler.attr('rel');
		  loadPhoto(newsrc, newcaption);
	 
	 });
	 
	 /*When the main photo is hovered over*/
	 $('#largephoto').hover(function()
	 {
	    
		var currentCaption  = ($(this).data('caption'));
		var largeCaption = $(this).find('#largecaption');
		
		largeCaption.stop();
		largeCaption.css('opacity','0.9');
		largeCaption.find('.captionContent').html(currentCaption);
		largeCaption.fadeIn()
	
	
		
		 largeCaption.find('.captionShine').stop();
         largeCaption.find('.captionShine').css("background-position","-550px 0"); 
         largeCaption.find('.captionShine').animate({backgroundPosition: '550px 0'},700);
		 
		 Cufon.replace('.captionContent');
		

	 },
	 
	 function()
	 {
	    var largeCaption = $(this).find('#largecaption');
		largeCaption.find('.captionContent').html('');
		largeCaption.fadeOut();
	 
	 });
	
	 
	 
     /* When a thumbnail is hovered over*/
	 $('.thumb_container').hover(function()
	 {  
         $(this).find(".large_thumb").stop().animate({marginLeft:-7, marginTop:-7},200);
		 $(this).find(".large_thumb_shine").stop();
         $(this).find(".large_thumb_shine").css("background-position","-99px 0"); 
         $(this).find(".large_thumb_shine").animate({backgroundPosition: '99px 0'},700);
			 
	 }, function()
	 {
	    $(this).find(".large_thumb").stop().animate({marginLeft:0, marginTop:0},200);
	 });
	 
	 function showPreloader()
	 {
	   $('#loader').css('background-image','url("images/interface/loader.gif")');
	 }
	 
	 function hidePreloader()
	 {
	   $('#loader').css('background-image','url("")');
	 }
   
  });
</script>
{% endblock %}
{% block contenido %}
				<div id="banner">
					<div class="5grid 5grid-alt">
						<div class="6u-first">
						
							<!-- Banner Copy -->
								<p>Luego del almuercito el viejo truco del botón y la correa. ...</p>
								<a href="#" class="button-big">Conoceme ;)</a>

						</div>
						<div class="6u">
							
							<div id="container">
<div id="containertitle">
Último trabajo fotográfico
</div>
   <div class="mainframe">
      <div id="largephoto">
	  <div id="loader"></div>
	  
	  
	    <div id="largecaption">
		 <div class="captionShine"></div>
		   <div class="captionContent"></div>
		  
		</div>
		
       <div id="largetrans">  
      </div>
	        
      </div>
      
   </div>
   <div class="thumbnails">
   <br><br>
   <!-- start entry-->
                    <div class="thumbnailimage">
                        <div class="thumb_container"> 
                            <div class="large_thumb"> 
                        		<img src="{{ MEDIA_URL }}thumbnails/sample1.jpg" class="large_thumb_image" alt="thumb" /> 
                                <img src="{{ MEDIA_URL }}large/sample1.jpg" class="large_image" rel="Just because I can't code, doesn't mean I can't kick your ass!" />
                                <div class="large_thumb_border"></div>
                                <div class="large_thumb_shine"></div>
                              </div>
						</div>
                       </div>
       <!--end entry-->          
       
   <!-- start entry-->
                    <div class="thumbnailimage">
                        <div class="thumb_container"> 
                            <div class="large_thumb"> 
                        		<img src="{{ MEDIA_URL }}thumbnails/sample2.jpg" class="large_thumb_image" alt="thumb" /> 
                                <img src="{{ MEDIA_URL }}large/sample2.jpg" class="large_image" rel="Kick-Ass Is In Theatres Everywhere Now" />
                                <div class="large_thumb_border"></div>
                                <div class="large_thumb_shine"></div>
                              </div>
						</div>
                       </div>
       <!--end entry-->          
       
   <!-- start entry-->
                    <div class="thumbnailimage">
                        <div class="thumb_container"> 
                            <div class="large_thumb"> 
                        		<img src="{{ MEDIA_URL }}thumbnails/sample3.jpg" class="large_thumb_image" alt="thumb" /> 
                                <img src="{{ MEDIA_URL }}large/sample3.jpg" class="large_image" rel="I can't see through walls, but I can still kick your ass." />
                                <div class="large_thumb_border"></div>
                                <div class="large_thumb_shine"></div>
                              </div>
						</div>
                       </div>
       <!--end entry-->           
       
   <!-- start entry-->
                    <div class="thumbnailimage">
                        <div class="thumb_container"> 
                            <div class="large_thumb"> 
                        		<img src="{{ MEDIA_URL }}thumbnails/sample4.jpg" class="large_thumb_image" alt="thumb" /> 
                                <img src="{{ MEDIA_URL }}large/sample4.jpg" class="large_image" rel="I won't bite, I promise!" />
                                <div class="large_thumb_border"></div>
                                <div class="large_thumb_shine"></div>
                              </div>
						</div>
                       </div>
       <!--end entry-->           
       
   <!-- start entry-->
                    <div class="thumbnailimage">
                        <div class="thumb_container"> 
                            <div class="large_thumb"> 
                        		<img src="{{ MEDIA_URL }}thumbnails/sample5.jpg" class="large_thumb_image" alt="thumb" /> 
                                <img src="{{ MEDIA_URL }}large/sample5.jpg" class="large_image" rel="Using swords to open up that ketchup bottle may not have been the best idea.." />
                                <div class="large_thumb_border"></div>
                                <div class="large_thumb_shine"></div>
                              </div>
						</div>
                       </div>
       <!--end entry-->          
       
   <!-- start entry-->
                    <div class="thumbnailimage">
                        <div class="thumb_container"> 
                            <div class="large_thumb"> 
                        		<img src="{{ MEDIA_URL }}thumbnails/sample6.jpg" class="large_thumb_image" alt="thumb" /> 
                                <img src="{{ MEDIA_URL }}large/sample6.jpg" class="large_image" rel="We're going to..wait for it..kick your ass!" />
                                <div class="large_thumb_border"></div>
                                <div class="large_thumb_shine"></div>
                              </div>
						</div>
                       </div>
       <!--end entry-->     

   <!-- start entry-->
                    <div class="thumbnailimage">
                        <div class="thumb_container"> 
                            <div class="large_thumb"> 
                        		<img src="{{ MEDIA_URL }}thumbnails/sample7.jpg" class="large_thumb_image" alt="thumb" /> 
                                <img src="{{ MEDIA_URL }}large/sample7.jpg" class="large_image" rel="I can't be invisible, but I can kick your ass." />
                                <div class="large_thumb_border"></div>
                                <div class="large_thumb_shine"></div>
                              </div>
						</div>
                       </div>
       <!--end entry-->    

   <!-- start entry-->
                    <div class="thumbnailimage">
                        <div class="thumb_container"> 
                            <div class="large_thumb"> 
                        		<img src="{{ MEDIA_URL }}thumbnails/sample8.jpg" class="large_thumb_image" alt="thumb" /> 
                                <img src="{{ MEDIA_URL }}large/sample8.jpg" class="large_image" rel="Dave Lizewski is a man in a green costume. He is Kick-Ass." />
                                <div class="large_thumb_border"></div>
                                <div class="large_thumb_shine"></div>
                              </div>
						</div>
                       </div>
       <!--end entry-->  

   <!-- start entry-->
                    <div class="thumbnailimage">
                        <div class="thumb_container"> 
                            <div class="large_thumb"> 
                        		<img src="{{ MEDIA_URL }}thumbnails/sample9.jpg" class="large_thumb_image" alt="thumb" /> 
                                <img src="{{ MEDIA_URL }}large/sample9.jpg" class="large_image" rel="I probably shouldn't have yelled 'surprise' wearing this costume.." />
                                <div class="large_thumb_border"></div>
                                <div class="large_thumb_shine"></div>
                              </div>
						</div>
                       </div>
       <!--end entry-->    	   
	   
   <!-- start entry-->
                    <div class="thumbnailimage">
                        <div class="thumb_container"> 
                            <div class="large_thumb"> 
                        		<img src="{{ MEDIA_URL }}thumbnails/sample10.jpg" class="large_thumb_image" alt="thumb" /> 
                                <img src="{{ MEDIA_URL }}large/sample10.jpg" class="large_image" rel="I can't read your mind, but I can kick your ass." />
                                <div class="large_thumb_border"></div>
                                <div class="large_thumb_shine"></div>
                              </div>
						</div>
                       </div>
       <!--end entry-->    	

   <!-- start entry-->
                    <div class="thumbnailimage">
                        <div class="thumb_container"> 
                            <div class="large_thumb"> 
                        		<img src="{{ MEDIA_URL }}thumbnails/sample11.jpg" class="large_thumb_image" alt="thumb" /> 
                                <img src="{{ MEDIA_URL }}large/sample11.jpg" class="large_image" rel="I love that indented text effect up there. Not bad.." />
                                <div class="large_thumb_border"></div>
                                <div class="large_thumb_shine"></div>
                              </div>
						</div>
                       </div>
       <!--end entry-->    	   
	   	   
	   <!-- start entry-->
                    <div class="thumbnailimage">
                        <div class="thumb_container"> 
                            <div class="large_thumb"> 
                        		<img src="{{ MEDIA_URL }}thumbnails/sample12.jpg" class="large_thumb_image" alt="thumb" /> 
                                <img src="{{ MEDIA_URL }}large/sample12.jpg" class="large_image" rel="I got your a present. It's an Ass-Kicking." />
                                <div class="large_thumb_border"></div>
                                <div class="large_thumb_shine"></div>
                              </div>
						</div>
                       </div>
       <!--end entry-->    	   
	      
	   <!-- start entry-->
                    <div class="thumbnailimage">
                        <div class="thumb_container"> 
                            <div class="large_thumb"> 
                        		<img src="{{ MEDIA_URL }}thumbnails/sample13.jpg" class="large_thumb_image" alt="thumb" /> 
                                <img src="{{ MEDIA_URL }}large/sample13.jpg" class="large_image" rel="You don't have to be super to be a hero." />
                                <div class="large_thumb_border"></div>
                                <div class="large_thumb_shine"></div>
                              </div>
						</div>
                       </div>
       <!--end entry-->  
	   
	   <!-- start entry-->
                    <div class="thumbnailimage">
                        <div class="thumb_container"> 
                            <div class="large_thumb"> 
                        		<img src="{{ MEDIA_URL }}thumbnails/sample15.jpg" class="large_thumb_image" alt="thumb" /> 
                                <img src="{{ MEDIA_URL }}large/sample15.jpg" class="large_image" rel="We Can Kick Ass - Anytime, Anyday." />
                                <div class="large_thumb_border"></div>
                                <div class="large_thumb_shine"></div>
                              </div>
						</div>
                       </div>
       <!--end entry-->  

	   <!-- start entry-->
                    <div class="thumbnailimage">
                        <div class="thumb_container"> 
                            <div class="large_thumb"> 
                        		<img src="{{ MEDIA_URL }}thumbnails/sample14.jpg" class="large_thumb_image" alt="thumb" /> 
                                <img src="{{ MEDIA_URL }}large/sample14.jpg" class="large_image" rel="You know..I had this look first. Batman copied ME." />
                                <div class="large_thumb_border"></div>
                                <div class="large_thumb_shine"></div>
                              </div>
						</div>
                       </div>
       <!--end entry-->    	 
	   	   
	   
	      
   </div>
</div>
						
						</div>
						<div class="5grid-clear"></div>
					</div>
				</div>
			</div>

		<!-- Features -->
			<div id="features-wrapper">
				<div id="features">
					<div class="5grid">
						<div class="3u-first">
						
							<!-- Feature #1 -->
								<section>
									<a href="#" class="bordered-feature-image"><img src="{{ STATIC_URL }}home/images/pic01.jpg" alt="" /></a>
									<h2>Welcome to Halcyonic</h2>
									<p>
										This is <strong>Halcyonic</strong>, a free website template 
										by <a href="http://nodethirtythree.com/">N33</a> for
										<a href="http://www.freecsstemplates.org/">FCT</a>. It's responsive,
										built on HTML5/CSS3, and includes 5 unique page layouts.
									</p>
								</section>

						</div>
						<div class="3u">
							
							<!-- Feature #2 -->
								<section>
									<a href="#" class="bordered-feature-image"><img src="{{ STATIC_URL }}home/images/pic02.jpg" alt="" /></a>
									<h2>Responsive You Say?</h2>
									<p>
										Yes! Halcyonic is built on the <a href="http://nodethirtythree.com/5grid/">5grid</a>
										framework, so it has full responsive support for widescreen, standard,
										and mobile displays.
									</p>
								</section>

						</div>
						<div class="3u">
							
							<!-- Feature #3 -->
								<section>
									<a href="#" class="bordered-feature-image"><img src="{{ STATIC_URL }}home/images/pic03.jpg" alt="" /></a>
									<h2>License Info</h2>
									<p>
										Halcyonic is licensed under the <a href="#">CCA 3.0</a> license,
										so use it for personal or commercial use as much as you like (just keep
										the footer credit intact).
									</p>
								</section>

						</div>
						<div class="3u">
							
							<!-- Feature #4 -->
								<section>
									<a href="#" class="bordered-feature-image"><img src="{{ STATIC_URL }}home/images/pic04.jpg" alt="" /></a>
									<h2>Volutpat etiam aliquam</h2>
									<p>
										Duis neque nisi, dapibus sed mattis quis, rutrum accumsan sed. Suspendisse 
										eu varius nibh. Suspendisse vitae magna eget odio amet mollis.
									</p>
								</section>

						</div>
					</div>
				</div>
			</div>

		<!-- Content -->
			<div id="content-wrapper">
				<div id="content">
					<div class="5grid">
						<div class="4u-first">

							<!-- Box #1 -->
								<section>
									<header>
										<h2>Mi perfil pe tío</h2>
										<h3>Luego del almuercito el viejo truco del botón y la correa.</h3>
									</header>
									<a href="#" class="feature-image"><img src="{{ STATIC_URL }}home/images/pic05.jpg" alt="" /></a>
									<p>
										Luego del almuercito el viejo truco del botón y la correa.
										Trabaja en presidencia peru decian, trabajaras 48 horas semanales y tendras aumento decían.	
									</p>
								</section>

						</div>
						<div class="4u">

							<!-- Box #2 -->
								<section>
									<header>
										<h2>Facebook</h2>
										<h3>contactame papi ;)</h3>
									</header>
									<ul class="check-list">
										<li>Sed mattis quis rutrum accum</li>
										<li>Eu varius nibh suspendisse lorem</li>
										<li>Magna eget odio amet mollis justo</li>
										<li>Facilisis quis sagittis mauris</li>
										<li>Amet tellus gravida lorem ipsum</li>
									</ul>
								</section>

						</div>
						<div class="4u">
							
							<!-- Box #3 -->
								<section>
									<header>
										<h2>Lo que se dice en Twitter</h2>
										<h3>Sigueme papi</h3>
									</header>
									<ul class="quote-list">
										<li>
											<img src="{{ STATIC_URL }}home/images/pic06.jpg" alt="" />
											<p>"Neque nisidapibus mattis"</p>
											<span>Jane Doe, CEO of UntitledCorp</span>
										</li>
										<li>
											<img src="{{ STATIC_URL }}home/images/pic07.jpg" alt="" />
											<p>"Lorem ipsum consequat!"</p>
											<span>John Doe, President of FakeBiz</span>
										</li>
										<li>
											<img src="{{ STATIC_URL }}home/images/pic08.jpg" alt="" />
											<p>"Magna veroeros amet tempus"</p>
											<span>Mary Smith, CFO of UntitledBiz</span>
										</li>
									</ul>
								</section>

						</div>
					</div>
				</div>
			</div>
	{% endblock %}
